<div style="margin-left:30px;width:300px">
    <h3>Add Player</h3>
    {{message}}

    <form name="AddPlayerForm" ng-submit="AddPlayer();" class="form-group-sm"> 
        <div class="form-group">
            <label for="player.Name">Name:</label>
            <input type="text" class="form-control" ng-model="player.Name" required />
        </div>
        <div class="form-group">
            <label for="player.Club">Club:</label>
            <input type="text" class="form-control" ng-model="player.Club" required />
        </div>
        <div class="form-group">
            <label for="player.Country">Country:</label>
            <input type="text" class="form-control" ng-model="player.Country" required />
        </div>
        <div class="form-group">
            <label for="player.Age">Age:</label>
            <input type="text" class="form-control" ng-model="player.Age" required />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Submit" ng-disabled="AddPlayerForm.$invalid" />
        </div>
    </form>
    <a href="#/" class="btn btn-primary">Back to main</a>
</div>